<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Software Development Plan</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body id="background">

        <h1 class="heading">Software Development Plan</h1>
        <div class="container">
            <h2>Requirements Specification</h2>
            
            <h3>Things I know</h3>
            <ul>
                
            </ul>
            <h3>Things I don't know</h3>
            <ul>
                
            </ul>
        </div>
        <div class="container">
            <h2>System Analysis</h2>
            <h3>Input:</h3>
            <ul>
                
            </ul>
            <h3>Output:</h3>
            <ul>
                
            </ul>
            <h3>Algorithms and Formulae</h3>
            <ul>
                
            </ul>
        </div>
        <div class="container">
            <h2>Design</h2>
            <h3>Program Flow:</h3>
            <ul>
                
            </ul>

        </div>
        <div class="container">
            <h2>Implementation</h2>
            
        </div>
        <div class="container">
            <h2>Testing and Debugging</h2>
            
        </div>
        <div class="container">
            <h2>Deployment</h2>
            
        </div>
        <div class="container">
            <h2>Maintainence</h2>
            
        </div>
    </body>
</html>