<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Software Development Plan</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body id="background">

        <h1 class="heading">Software Development Plan</h1>

        <div class="container">
            <h2>Requirements Specification</h2>
            <p>
                This project will allow users to enter a weight in multiple units, and give the dollar amount of that weight in gold. 
                This assignment consists of 2 parts: a unit conversion API, and a vanilla JS SPA for the user to interact with.
            </p>

            <h3>Unit Conversion API</h3>
            <p>
                This API should respond to requests to the <code>/unitconv/convert</code> path. 
                Each request should have 3 parameters:
            </p>
            <ul>
                <li><code>from</code>, a string identifying the unit to convert from</li>
                <li><code>value</code>, a floating-point number representing the quantity of the units to convert from</li>
                <li>and <code>to</code>, a string identifying the unit to convert to</li>
            </ul>
            <p>
                The result should be a JSON object with two properties:
            </p>
            <ul>
                <li><code>units</code>, a string identifying the units of <code>value</code> (this should match the <code>to</code> parameters of the request)</li>
                <li><code>value</code>, a floating-point number representing the quantity of the units</li>
            </ul>
            <p>
                When an invalid query is given at the path, a JSON object should be returned with an error message in the <code>error</code> property.
            </p>
            <p>
                This app should use a Django model as a table of conversion factors. 
                A data migration should be used to initialize the table with conversion factors.
                This is the only place in the program where conversion factors can be hard-coded.
            </p>
            <p>
                The following units should be supported, both to be converted to and from, with the string representing it:
            </p>
            <ul>
                <li>U.S. Ton <code>T</code></li>
                <li>Gram <code>g</code></li>
                <li>Troy Ounce <code>t_oz</code></li>
                <li>Kilogram <code>kg</code></li>
                <li>Imperial Pound <code>lb</code></li>
                <li>Ounce <code>oz</code></li>
            </ul>

            <h3>Weight in Gold SPA</h3>
            <p>The website should have the following HTML features:</p>
            <ul>
                <li>An <code>&lt;h2&gt;</code> and <code>&lt;title&gt;</code> naming the page</li>
                <li>Instructions on how to use the app</li>
                <li>An <code>&lt;input&gt;</code> of type <code>number</code> where the user can enter their weight</li>
                <li>A <code>&lt;select&gt;</code> element where the user can choose a unit of weight from a dropdown menu</li>
                <li>A <code>&lt;button&gt;</code> that will perform the conversion when it's clicked</li>
                <li>
                    A <code>&lt;p&gt;</code> element which displays the latest market price of gold.
                    <ul>
                        <li>Before the price of gold is retrieved, this should display the message <code>Please Wait</code></li>
                        <li>After the price of gold is retrieved, it should be displayed</li>
                        <li>If the price of gold cannot be retrieved, an informative error message should be displayed</li>
                    </ul>
                </li>
            </ul>
            <p>
                The page should only make a request to the Nasdaq Data Link on loading.
                The price of gold per troy ounce should be obtained from the LBMA data set.
                Only the most recent prices should be requested.
            </p>
            <p>After the button is clicked:</p>
            <ul>
                <li>Validate the input. If it's invalid, inform the user</li>
                <li>Make a request to the <code>unitconv</code> app to convert the weight to troy ounces</li>
                <li>Calculate the price of that weight in gold</li>
                <li>
                    Create a new <code>&lt;div&gt;</code> with the following properties:
                    <ul>
                        <li>The dollar amount of the weight</li>
                        <li>A timestamp</li>
                        <li>It's displayed above older requests</li>
                        <li>Clicking it removes it from the DOM</li>
                        <li>If an error occurs, display a timestamped error message within it</li>
                    </ul>
                </li>
            </ul>
            
            <h3>Things I know</h3>
            <ul>
                <li>Algorithm for unit conversion</li>
                <li>How to check query parameters</li>
                <li>How to use django models</li>
                <li>How to create a webpage</li>
                <li>How to fetch data from APIs</li>
            </ul>
            <h3>Things I don't know</h3>
            <ul>
                <li>How to send a JSON response from django (there's a JsonReponse object in django.http)</li>
                <li>The structure of the data from Nasdaq</li>
            </ul>
        </div>

        <div class="container">
            <h2>System Analysis</h2>
            <h3>Input (API):</h3>
            <ul>
                <li>HTTP GET Request, containing 3 parameters</li>
            </ul>
            <h3>Output (API):</h3>
            <ul>
                <li>JSON with two properties sent in an HTTP response</li>
            </ul>
            <h3>Algorithms and Formulae (API):</h3>
            <ul>
                <li>Determine if parameters are valid</li>
                <li>Convert units</li>
            </ul>

            <h3>Input (SPA):</h3>
            <ul>
                <li><code>&lt;input&gt;</code> element where the user enters their weight</li>
                <li><code>&lt;select&gt;</code> element where the user can enter the unit they're inputting</li>
                <li><code>&lt;button&gt;</code> the user can press to calculate their weight in gold</li>
                <li>Response (or lack thereof) from NASDAQ query</li>
                <li>Response (or lack thereof) from unit conversion API</li>
            </ul>
            <h3>Output (SPA):</h3>
            <ul>
                <li>Price of gold or error displayed on the page</li>
                <li>Weight in gold or error displayed on the page</li>
            </ul>
            <h3>Algorithms and Formulae (SPA):</h3>
            <ul>
                <li>Getting data from user inputs</li>
                <li>Validating user inputs</li>
                <li>Querying API's, and handling success or failure</li>
                <li>Adding results to the DOM</li>
            </ul>
        </div>
        <div class="container">
            <h2>Design</h2>
            <h3>API Flow:</h3>
            <ul>
                <li>Check if request sent required parameters. If not, send an error reponse</li>
                <li>Check if value is a number. If not, send an error</li>
                <li>Check if units are in the conversion table. If not, send an error</li>
                <li>Convert units</li>
                <li>Send reponse</li>
            </ul>

            <h3>Models</h3>
<pre><code>Unit:
    abbreviation: charfield(length=10)
    amount_per_kg: float
</code></pre>

            <h3>Initial data</h3>
<pre><code>
    abbreviation: 'kg'
    amount_per_kg: 1

    abbreviation: 'T'
    amount_per_kg: 0.00110231

    abbreviation: 'g'
    amount_per_kg: 1000

    abbreviation: 't_oz'
    amount_per_kg: 32.1507

    abbreviation: 'lb'
    amount_per_kg: 2.20462

    abbreviation: 'oz'
    amount_per_kg: 35.274
</code></pre>

<pre><code>convert(request):
    """
    View function that validates input, converts, and sends output
    """
    Try to get parameters from request
        If there is a KeyError thrown, return an error JsonReponse
    Try to convert value to a float
        If there is a ValueError, return an error JsonReponse
    Try to get amount_per_kg of 'to' from the Units table
        If there is a Model.DoesNotExist thrown, return an error JsonReponse
    Try to get amount_per_kg of 'from' from the Units table
        If there is a Model.DoesNotExist thrown, return an error JsonReponse

    Perform conversion

    Send JsonReponse with result
</code></pre>

            <h3>SPA Flow:</h3>
            <ul>

            </ul>
        </div>
        <div class="container">
            <h2>Implementation</h2>
            
        </div>
        <div class="container">
            <h2>Testing and Debugging</h2>
            
        </div>
        <div class="container">
            <h2>Deployment</h2>
            
        </div>
        <div class="container">
            <h2>Maintainence</h2>
            
        </div>
    </body>
</html>